*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/yarn.lock
/tmp
node_modules
/.editorconfig
src/shell-commands/generated.ts
src/commands/**/*
!src/commands/base.ts
!src/commands/build.ts
!src/commands/create.ts
!src/commands/halt.ts
!src/commands/up.ts
!src/commands/refresh.ts